div.t_tile{
	border:1px solid #000;
	width:300px;
	margin:10px;
	float:left;
}
div.t_tileinfo{
	margin:10px;
}
span.t_tileheader{
	font-size:130%;
	font-weight:bold;
}
img.t_tile{
	border:2px solid #0000ff;
	width: 64;
	height:64;
	margin:20px;
	float:left;
}
ul.t_tilenotifications{
	font-size:80%;
	list-style-type:none;
}
