<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Finansmaskinen</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="../assets/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="bootstrap/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
	</head>

	<body>
		<div class="navbar main">
			<div class="navbar-inner">
				<div class="container">
					<div class="row">
						<div class="span12 relativeWrap">
							<!--<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</a>


							<a class="brand" href="/">Finansmaskinen</a>-->


							<ul class="hidden-phone" id="menu">
								<li class="active">
									<a class="menuToggle" href="index.html?lang=en&amp;menu_position=top-menu">Overview</a>
									<ul class="menu hide">
										<li class=" active">
											<a href="index.html?lang=en&amp;menu_position=top-menu"><span>Dashboard</span></a>
										</li>
										<li class="">
											<a href="ui.html?lang=en&amp;menu_position=top-menu"><span>UI
										Elements</span></a>
										</li>
										<li class="">
											<a href="charts.html?lang=en&amp;menu_position=top-menu"><span>Charts</span></a>
										</li>
										<li class="hasSubmenu">
											<a class="" data-toggle="collapse" href="#menu_forms"><span>Forms<i class="icon-chevron-right icon-white"></i>
										</span>
											</a>
											<ul class="collapse" id="menu_forms">
												<li class="">
													<a href="form_demo.html?lang=en&amp;menu_position=top-menu"><span>My
												Account</span></a>
												</li>
												<li class="">
													<a href="form_elements.html?lang=en&amp;menu_position=top-menu"><span>Form
												Elements</span></a>
												</li>
												<li class="">
													<a href="form_validator.html?lang=en&amp;menu_position=top-menu"><span>Form
												Validator</span></a>
												</li>
												<li class="">
													<a href="file_managers.html?lang=en&amp;menu_position=top-menu"><span>File
												Managers</span></a>
												</li>
											</ul>
										</li>
										<li class="">
											<a href="tables.html?lang=en&amp;menu_position=top-menu"><span>Tables</span></a>
										</li>
										<li class="">
											<a href="calendar.html?lang=en&amp;menu_position=top-menu"><span>Calendar</span></a>
										</li>
										<li>
											<a href="login.html?lang=en&amp;menu_position=top-menu"><span>Login</span></a>
										</li>
									</ul>
								</li>
								<li>
									<a class="menuToggle" href="finances.html?lang=en&amp;menu_position=top-menu">Sections</a>
									<ul class="menu hide">
										<li class="">
											<a href="finances.html?lang=en&amp;menu_position=top-menu"><span>Finances</span></a>
										</li>
										<li class="hasSubmenu">
											<a data-toggle="collapse" href="#menu_ecommerce"><span>Online
										Shop<i class="icon-chevron-right icon-white"></i>
										</span>
											</a>
											<ul class="collapse" id="menu_ecommerce">
												<li class="">
													<a href="products.html?lang=en&amp;menu_position=top-menu"><span>Products</span></a>
												</li>
												<li class="">
													<a href="product_edit.html?lang=en&amp;menu_position=top-menu"><span>Add
												product</span></a>
												</li>
											</ul>
										</li>
										<li class="">
											<a href="pages.html?lang=en&amp;menu_position=top-menu"><span>Site
										Pages</span></a>
										</li>
										<li class="">
											<a href="gallery.html?lang=en&amp;menu_position=top-menu"><span>Photo
										Gallery</span></a>
										</li>
										<li class="">
											<a href="bookings.html?lang=en&amp;menu_position=top-menu"><span>Bookings</span></a>
										</li>
									</ul>
								</li>
								<li class="hidden-phone">
									<a data-toggle="collapse" href="#themer"><span>Themer</span></a>
									<div class="collapse" id="themer">
										<div class="wrapper">
											<span class="close2">&times; close</span>
											<h4>Themer
												<span>color</span></h4>
											<ul>
												<li>Theme:
													<select class="pull-right" id="themer-theme"></select>
													<div class="clearfix"></div>
												</li>
												<li>Primary Color:
													<input data-default="#ffffff" data-position="left" data-slider="hue" data-textfield="false" data-type="minicolors" id="themer-primary-cp" type="text"/><div class="clearfix"></div>
												</li>
												<li>
													<span class="link" id="themer-custom-reset">reset theme</span>
											<span class="pull-right"><label>advanced
												<input id="themer-advanced-toggle" type="checkbox" value="1"/></label></span>
												</li>
											</ul>
											<div class="hide" id="themer-getcode">
												<div class="separator"></div>
												<button class="btn btn-primary btn-small pull-right btn-icon glyphicons download" id="themer-getcode-less">
													<i></i>Get LESS</button>
												<button class="btn btn-inverse btn-small pull-right btn-icon glyphicons download" id="themer-getcode-css">
													<i></i>Get CSS</button>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								</li>
								<li class="hidden-phone">
									<a data-toggle="dropdown" href="#"><img alt="en" src="theme/images/lang/en.png"/></a>
									<ul class="dropdown-menu pull-right">
										<li class="active"><a href="?page=index&amp;lang=en" title="English"><img alt="English" src="theme/images/lang/en.png">
											English</a></li>
										<li><a href="?page=index&amp;lang=ro" title="Romanian"><img alt="Romanian" src="theme/images/lang/ro.png">
											Romanian</a></li>
										<li><a href="?page=index&amp;lang=it" title="Italian"><img alt="Italian" src="theme/images/lang/it.png">
											Italian</a></li>
										<li><a href="?page=index&amp;lang=fr" title="French"><img alt="French" src="theme/images/lang/fr.png">
											French</a></li>
										<li><a href="?page=index&amp;lang=pl" title="Polish"><img alt="Polish" src="theme/images/lang/pl.png">
											Polish</a></li>
									</ul>
								</li>
							</ul>

							<div class="nav-collapse">
								<ul class="nav">
									<li class="dropdown">
										<a class="dropdown-toggle" id="primaryNavTitle" data-toggle="dropdown" href="#">
											<b class="caret"></b>
										</a>
										<ul class="dropdown-menu" id="primaryNav" />
									</li>


									<li class="dropdown" id="secNavHolder">
										<!--<a class="dropdown-toggle" id="secondaryNavTitle" data-toggle="dropdown" href="#">
											<b class="caret"></b>
										</a>
										<ul class="dropdown-menu" id="secondaryNav" />-->
									</li>

								</ul>
							</div><!--/.nav-collapse -->

							<!--<form class="pull-left navbar-form" method="post">
								<input id="naturalCommander" type="text" class="input-xlarge offset1" placeholder="Hvad vil du?" />
							</form>-->

							<div class="nav-collapse">
								<ul class="pull-right nav">
									<li id="companyItemCredit" />
									<li id="companyItem" />
									<li class="dropdown pull-right">
										<a class="dropdown-toggle" id="accountDropDown" data-toggle="dropdown" href="#">
											Konto
											<b class="caret"></b>
										</a>
										<ul class="dropdown-menu" id="otherTrees">
											<li class="nav-header">virksomheder</li>
											<li class="divider" id="otherTreeBefore"></li>
											<li class="nav-header">Personligt</li>
											<li><a href="/index/personal">Indstillinger</a></li>
											<li><a href="/index/logout">Log ud</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="container-fluid fixed top-menu">
				<div id="content">
			</div>

			</div>
		<script type="text/javascript">
			//google is not used when out of beta
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-33235836-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
		<script type="text/javascript">
			var uvOptions = {};
			(function() {
				var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
				uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/94FDycQjwqTYDeHw3i4urQ.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
			})();
		</script>
	</body>
</html>

