<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Finansmaskinen</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="../assets/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="bootstrap/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
	</head>

	<body>
		<div class="navbar main">
			<div>
				<div class="container">
					<div class="row">
						<div class="span12 relativeWrap">
							<!--<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</a>


							<a class="brand" href="/">Finansmaskinen</a>-->

                            <div class="nav-collapse">

                                <ul class="hidden-phone nav" id="menu">
                                    <li class="dropdown">
                                        <a href="/">Finansmaskinen</a>
                                    </li>

                                    <li class="dropdown">

                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="primaryNavTitle"></a>

                                        <ul class="menu hide dropdown-menu" id="primaryNav" />
                                    </li>

                                    <li id="secNavHolder" class="dropdown">

                                    </li>
                                </ul>


								<ul class="nav">


								</ul>
							</div><!--/.nav-collapse -->

							<!--<form class="pull-left navbar-form" method="post">
								<input id="naturalCommander" type="text" class="input-xlarge offset1" placeholder="Hvad vil du?" />
							</form>-->

							<div class="nav-collapse">
								<ul class="pull-right nav">
									<li id="companyItemCredit" />
									<li id="companyItem" />
									<li class="dropdown pull-right">
										<a class="dropdown-toggle" id="accountDropDown" data-toggle="dropdown" href="#">
											Konto
											<b class="caret"></b>
										</a>
										<ul class="dropdown-menu" id="otherTrees">
											<li class="nav-header">virksomheder</li>
											<li class="divider" id="otherTreeBefore"></li>
											<li class="nav-header">Personligt</li>
											<li><a href="/index/personal">Indstillinger</a></li>
											<li><a href="/index/logout">Log ud</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="container">
				<div id="content">
			</div>

			</div>
		<script type="text/javascript">
			//google is not used when out of beta
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-33235836-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
		<script type="text/javascript">
			var uvOptions = {};
			(function() {
				var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
				uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/94FDycQjwqTYDeHw3i4urQ.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
			})();
		</script>
	</body>
</html>

